body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
}
.content {
  padding-left: 30px;
}

main > header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

.topnav {
  overflow: hidden;
  background-color: #00b265;
  padding: 0;
}

.topnav a,
.topnav button {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
}

.topnav a:hover,
.topnav button:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 9px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  color: #00b256;
}

.active {
  background-color: lightgreen;
  padding: 15px;
  color: darkslategray !important;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.header_image {
  position: relative;
  text-align: center;
  color: white;
  background-image: url(../images/pattern.gif);
  width: 100%;
  height: 150px;
}

img.profileLogo {
  position: absolute;
}

/* Centered text */
.header_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00b265;
  background-color: white;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

/* Search form */
.search__form {
  float: right;
  display: block;
  background: #00b265;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin: -3px;
}

/* input#search_input {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
  padding: 0;
  margin: 0;
  height: 22px; */
/* } */
input#search_input {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 200;
  height: 22px;
  font-size: 16px;
  margin: 0;
  display: inline-block;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 5px;
  padding-right: 0px;
  width: 0px;
  position: relative;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
  width: 50px;
}

input#search_input::placeholder {
  color: white;
  border: none;
}

input#search_input:focus:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

input#search_input:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid rgb(255, 255, 255);
  cursor: text;
}

input#search_submit {
  height: 20px;
  width: 20px;
  float: right;
  background: url(../images/magnifying-glass.svg) center center no-repeat;
  background-size: 100% 100%;
  filter: invert(100%);
  text-indent: -10000px;
  border: none;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.4s ease;
}
#search_submit:hover {
  color: white;
  opacity: 0.2;
}
