body {
  display: flex;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  border: 1px black;
  /* border-style: solid; */
  box-shadow: 1px 1px 1px 0 rgba(0, 178, 101, 0.12),
    1px 1px 4px 0 rgba(0, 0, 0, 0.19);
  max-width: 270px;
}

.details__small {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px black;
  margin: 5px;
  margin-bottom: 0.7em;
  /* border-style: solid; */
}

.details__logo {
  border-radius: 100%;
  border-style: solid;
  border-color: rgb(0, 178, 101);
  border-width: 5px;
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: center;
}

.details__name {
  font-size: 1.2em;
  margin-left: 7px;
}

.details__firstName {
  color: #00b265;
  margin: 0px;
}

.details__lastName {
  color: #00b265;
  margin-top: -10px;
  margin-bottom: -10px;
  font-weight: bold;
}

.details__mentor {
  font-size: 0.3em;
  margin: 0;

  background: orange;
  color: white;
}
.details__mentee {
  font-size: 0.3em;
  margin: 0;
  background: rgb(9, 255, 0);
  color: white;
}

.details__separator {
  font-size: 0.3em;
  margin: 0;

  color: rgb(136, 133, 133);
}
.details__tagline {
  align-self: center;
  background: rgb(34, 69, 223);
  color: white;
}

.details__profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.5em;
  border: 1px black;
  /* border-style: solid; */
}

.details__profile img {
  width: 10px;
  height: 15px;
}

.details__icons {
  display: flex;
  margin-top: 10px;
}
.details__icons img {
  width: 30px;
  height: 30px;
}
.details__skills {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  flex-direction: row;
  padding-left: 0px;
  justify-content: center;
}

.details__languages {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  flex-direction: row;
  padding-left: 0.3em;
  justify-content: center;
}

.details__skills img {
  margin: 2px;
}

.details__skills span {
  width: 30%;
  height: 2.5em;
}

.details__skills .level {
  position: relative;
  left: 20px;
  top: -17px;
  color: #212529;
  background-color: #f8f9fa;
  /* display: inline-block; */
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  opacity: 0.75;
}

.details__languages img {
  border-radius: 100%;
}

.userCardSmall__deleteButton {
  align-self: flex-end;
}
