*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #384047;
  align-self: center;
}
/* ---------------------------- */
.backButton {
  position: absolute;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.backButton:hover {
  opacity: 1;
}
.backButton:before,
.backButton:after {
  position: absolute;
  left: 15px;
  top: 10px;
  content: " ";
  height: 22px;
  width: 2px;
  background-color: #333;
}
.backButton:before {
  transform: rotate(45deg);
}
.backButton:after {
  transform: rotate(-45deg);
}
/* ---------------------------- */
.userFormFull {
  display: flex;
  width: 70%;
  max-width: 90vw;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  justify-content: flex-end;
}

.userFormFull_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.detailsFull__avatar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  width: 40%;
  height: 100%;
}

.detailsFull__information {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  flex-wrap: wrap;
  width: 60%;
  align-content: center;
  margin: 1.7em;
}
.detailsFull__information > * {
  padding-top: 0.5em;
  margin: 0.3em;
}
img.profileLogoFull {
  width: 80%;
  height: auto;
  border: 5px solid;
  border-color: #00b265;
  border-radius: 50%;
  margin: 10px;
}

.addButton {
  margin: 1em;
  background: #00b265;
  padding: 1em;
  color: white;
  border-radius: 7px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.addButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.detailsFull__comment {
  color: #7d807f;
  font-size: 1.3em;
}

.detailsFull__firstName {
  color: #00b265;
  font-size: 1.5em;
}

.detailsFull__lastName {
  font-weight: bold;
  color: #00b265;
  font-size: 1.5em;
}

.detailsFull__role span {
  font-size: 1.3em;
}

.detailsFull__mentor {
  background: orange;
  color: white;
}

.detailsFull__mentee {
  background: #00b265;
  color: white;
}

.detailsFull__tag {
  font-size: 1.3em;
  background: blue;
  color: white;
  padding: 0.1em;
  margin: 0.1em;
  width: 80%;
  text-align: center;
}

.detailsFull__location {
  margin-top: 0.2em;
}

.detailsFull__locationPlace {
  font-size: 1.3em;
  background: rgb(255, 81, 0);
  color: white;
  padding: 0.1em;
}

.detailsFull__bio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailsFull__interests {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailsFull__bioText,
.detailsFull__interestsText {
  margin-top: 0.5em;
}

.skillsFull {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.detailsFull__icons {
  display: flex;
  margin-top: 10px;
}
.skillsFull img {
  width: 40px;
  height: 40px;
}

.detailsFull__skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.detailsFull__skills img {
  margin: 0.2em;
}

.detailsFull__skills .level {
  position: relative;
  left: -15px;
  text-shadow: 1px 1px 2px grey;
  color: #212529;
  background-color: #f8f9fa;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  opacity: 0.75;
}

.detailsFull__languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.detailsFull__languages img {
  margin: 0.2em;
  border-radius: 50%;
}

.skillsFull .detailsFull__comment {
  width: 100%;
  margin-bottom: 0.3em;
}

.detailsFull__skills .ranking {
  display: inline-block;
  position: relative;
  top: -15px;
}
