.pictureFrame {
  display: table-cell;
  height: 250px; /*change this and the width
    for the size of your initial circle*/
  width: 250px;

  vertical-align: left;

  border-radius: 50%;
  /*make it pretty*/
  border: 15px solid green;
  color: white;
}
.myName {
  border: 10px solid green;
  background: green;
  float: 20 px;
  width: 100%;
  border-style: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-style: Arial;
  font-stretch: expanded;
  text-combine-upright: 5px;

  color: white;
}

.mySummary {
  border: 10px solid #e9420f;
  color: white;
  background: #e9420f;
  float: 20px;
  width: 200%;
  font-style: Arial;
  font-stretch: expanded;
  font-family: Arial, Helvetica, sans-serif;
}

.myCampus {
  font-family: Arial;
  color: black;
  font-size: 30px;
  border: 0px solid rgb(15, 15, 15);
  overflow-wrap: break-word;
  margin-left: 50px;
}

.mySchool {
  font-family: Arial;
  color: green;
  font-size: 30px;
  border: 0px solid rgb(15, 15, 15);
}

.myBioTitle {
  font-family: Arial;
  font-size: 25px;
  margin-left: 50px;
}
.myBio {
  font-family: Arial;
  font-size: 20px;
  color: rgb(61, 60, 60);
  text-align: justify;
  margin-left: 50px;
}
.myInterest {
  font-family: Arial;
  font-size: 25px;
  margin-left: 50px;
}
/*.h1 {
  background-color: #009688;
  padding: 15px;
  text-align: right;
  font-size: 15px;
  color: white;
  margin-right: 0px;
  margin-left: 0px;
  position: 50px;
  display: flex; /* or inline-flex */
/*flex-direction: column;
  justify-content: space-around;
}

/*.h2 {
  background-color: #e9420f;
  padding: 50px;
  text-align: right;
  font-size: 15px;
  color: white;
  font-family: Arial Narrow;
  display: flex; /* or inline-flex */
/*flex-direction: column;
  justify-content: space-around;
}*/

.greenDot {
  height: 25px;
  width: 25px;
  background-color: #009688;
  border-radius: 50%;
  display: inline-block;
  word-spacing: normal;
}

.greyDot {
  height: 25px;
  width: 25px;
  background-color: #bdc4c3;
  border-radius: 50%;
  display: inline-block;
  word-spacing: normal;
}
/*.container1 {
  display: block;
  align-items: left;
  border: 3px solid purple;
}

.container2 {
  display: block;
  align-items: left;
}*/
.mySkills {
  table-layout: fixed;
  border: 0px;
  text-align: left;
  font-family: Arial;
  font-size: 25px;
  width: 25%;
  border-block-end-style: inherit;
  color: rgb(61, 60, 60);
  margin-left: 50px;
}

.list-group-item {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #79e9b4;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  word-spacing: 4px;
  margin-left: 50px;
}

.list-group-item:hover {
  background-color: #79e9b4;
}

.list-group-item:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
